#post #cb_hpb .type-checkbox .format-setting-inner p  {width: auto; }

.ui-state-default.cb-half-width {width:45%; margin-right:2%; }

.ui-state-default {display: inline-block; vertical-align: top; width: 92%; }

input.readonly, input[readonly], textarea.readonly, textarea[readonly] { background-color: #eee; }
.cb-demo-data { margin: 30px 0;}
.wrap.settings-wrap .ui-tabs-nav li a, .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li a { padding: 10px 10px 10px 20px; font-family: 'Raleway', sans-serif; font-size: 10px;  letter-spacing: 3px; text-transform: uppercase; color: #8b8b8b; }
.wrap.settings-wrap .ui-tabs-nav { width: 180px; }
#option-tree-settings-api > .ui-tabs {-webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

a:focus { box-shadow: none; -webkit-box-shadow: none; }
#ot-gallery-frame .media-sidebar .gallery-settings, #setting_cb_footer_lower_bg .select-wrapper { display: none; }
#ot-gallery-frame .uploader-inline, #ot-gallery-frame .attachments-browser .uploader-inline { right: 0; }

.option-tree-ui-button,
.option-tree-ui-button.blue,
.option-tree-ui-button.red {  display: inline-block; text-decoration: none; letter-spacing:0.1em; float: left; font-size: 12px; line-height: 28px; height: 29px; margin: 5px; border:none; padding: 0 14px 1px; cursor: pointer; -webkit-appearance: none; white-space: nowrap; letter-spacing: 5px; color: #9c9c9c; font-weight: 700; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.option-tree-ui-button.right { float: right; padding:10px 15px; line-height:1; height: auto; text-transform: uppercase; }

.meta-box-sortables #cb_go .hndle { color: #666; padding: 10px 20px; font-family: 'Raleway', sans-serif; letter-spacing: 3px; text-transform: uppercase;  font-size: 12px;}
.wrap.settings-wrap .ui-tabs-panel {   clear: both; }
.wrap.settings-wrap .ui-tabs-nav      { background: #18181d; float: left; list-style: none; margin: 0 0 0 -4px; padding: 1em 0; width: 210px; }
.wrap.settings-wrap .ui-tabs-nav li   { border: 1px solid transparent; border-right-width: 0px; display: block; margin: 0; background: transparent; }
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active { background: transparent; border-color: transparent; color: #fff; }
.wrap.settings-wrap .ui-tabs-nav li a:hover, .ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li a:hover  { color: #bbb;  outline: none; }
.wrap.settings-wrap .ui-tabs-nav li.ui-state-active a { color: #fff;  outline: none; font-weight: 700; }

.ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li.ui-state-active a { color: #171717;  outline: none; font-weight: 700; }
.ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav      { background-color: #eee; float: left; list-style: none; margin: 0 0 0 -4px; padding: 1em 0; width: 210px; }
.ot-metabox-tabs.ui-tabs .ot-metabox-nav.ui-tabs-nav li.ui-state-active { background: transparent; border-color: transparent; color: #171717; }
.ot-metabox-tabs.ui-tabs .ot-metabox-panels { padding: 20px; margin:0;}

#option-tree-header #option-tree-logo { padding: 40px; }
#option-tree-header #option-tree-version { display:none; }
.cb-version {   text-transform: uppercase;  font-family: "Open Sans",sans-serif; display: block; letter-spacing: 3px; font-size: 16px;
    color: #eee;
    font-weight: 700; }
  .cb-version-number { color: #ffd800;}
#option-tree-header li#option-tree-logo:hover {background-color: transparent; color: #bbb; -webkit-border-top-left-radius: 0; -moz-border-radius-topleft: 0; border-top-left-radius: 0; }

.option-tree-ui-button.button-secondary, .option-tree-ui-button.button.button-primary {display: inline-block; text-decoration: none; letter-spacing: 0.1em; font-size: 12px; line-height: 28px; height: 29px; margin: 5px; border: none; padding: 0 14px 1px; cursor: pointer; -webkit-appearance: none; white-space: nowrap; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 3px; border-radius: 3px; }

.button-primary.right, .button-secondary.right, .button.right {padding: 0 14px 2px!important; }

.option-tree-ui-button.button.button-primary {background: #2c3e50!important; color: #fff; text-decoration: none; }

.option-tree-ui-button.button-secondary.hover, .option-tree-ui-button.button-secondary:hover, .option-tree-ui-button.button-secondary.focus, .option-tree-ui-button.button-secondary:focus, .option-tree-ui-button.button-secondary {background-color: #c0392b!important; color: #fff; text-decoration: none; border-color: transparent; }
.option-tree-ui-button.button-secondary, .option-tree-ui-button.button.button-primary {-webkit-border-radius: 0; border-radius: 0; -webkit-box-shadow:none!important; -moz-box-shadow: none!important; box-shadow:none!important; }
.option-tree-ui-button.button {
  line-height: 29px !important;
  padding: 0 11px 1px !important;
}

.option-tree-ui-button .icon {
  margin-top: 4px;
}

.option-tree-ui-button.button:hover {
  opacity: 0.9;
}

.on-off-switch .slide-button {-webkit-border-radius: 0!important; -moz-border-radius: 0!important; border-radius: 0!important; -webkit-box-shadow:none!important; -moz-box-shadow: none!important; box-shadow:none!important; background: #A5C572; border: none; }

#option-tree-settings-api .description h3, #option-tree-settings-api .format-setting-label .label, #poststuff .format-setting-label .label {font-weight: 700; text-transform: uppercase; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.format-setting-wrap {
  padding: 10px 0 40px 0;
}

#option-tree-settings-api .postbox {
  margin: 10px 40px;
}

.cb-sub-wrap {
  padding-left: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cb-sub-sub-wrap {
  padding-left: 80px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.cb-sub-sub-sub-wrap {
  padding-left: 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#option-tree-header li { 
  float: none;
}
#option-tree-settings-api .postbox {
  margin: 10px 40px;
}

#option-tree-header {
  background: #18181d;
}
.cb-aj-input { margin-top: 20px; }
.cb-post-added { display:inline-block; float:left;padding: 5px 15px 5px 30px; margin: 10px 10px 0 0; border: 1px solid #C7C7C7; color: #666666; background: #eee; }

.cb-post-added:hover { cursor:pointer; }

.cb-post-added:before { content: "x"; position: absolute;  margin: 0 0 0 -20px; font-size: 10px; }

#option-tree-settings-api .format-setting.type-checkbox p, #option-tree-settings-api .format-setting.type-radio p { width:auto!important;
margin:10px 10px 10px 0!important;
min-width:150px;
}

.option-tree-ui-checkbox[type="checkbox"] {
    margin:5px 7px 0 9px!important;
}

.format-setting.type-checkbox label, .format-setting.type-radio label {
    max-width: 100%;
}

#setting_cb_user_post_font { display: none;}

.format-setting-label {
	border-bottom: none;
	padding: 5px 10px;
	background: #E0E0E0;
 -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cb-pb-hidden {
    display:none;
}
#option-tree-settings-api .description h3, #option-tree-settings-api .format-setting-label .label, #poststuff .format-setting-label .label {
	padding: 0;
}

#option-tree-settings-api .description h3, #option-tree-settings-api .format-setting-label .label, #poststuff .format-setting-label .label {
font-size: 12px;
letter-spacing: 2px;
}

.format-setting .description {
font-size: 12px;
color: #555;
line-height: 1.75;
}

#setting_cb_tab_review .format-settings, #setting_cb_review_crits .format-settings { float: left; }
.cb-crit-half-wrap, #setting_cb_review_crits .option-tree-setting-title-wrap {  width: 50%; }
.cb-crit-half-wrap .format-setting .format-setting-inner { width: 100%; }
.cb-odd-crit-wrap .format-setting .format-setting-inner, #setting_cb_review_crits .option-tree-setting-title-wrap { padding-right: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.cb-odd-crit-wrap { clear:left; }

#setting_cb_review_crits .option-tree-setting .open:hover:before { content: " "; }
#setting_cb_review_crits .list-item-description { display: none;}

#setting_cb_review_crits .option-tree-setting .open {}
#setting_cb_review_crits .type-list-item .format-setting-label .label:before { content: 'Criteria '; }
#setting_cb_review_crits .option-tree-list-item-add:after { content: ' criteria'; }
.cb-big-title-wrap .format-setting-wrap { padding: 0;  }
.cb-big-title-wrap .format-setting-label  { background: #171717; }
.cb-big-title-wrap h3 { color: white!important; padding: 10px!important; font-size: 14px!important; }

@media only screen and (min-width: 768px) {
  div[id^="setting_cb_section_a_cb_cl_"], div[id^="setting_cb_section_c_cb_cl_"] {
      float: left;
  }
  div[id^="setting_cb_section_a_cb_cl_img"], div[id^="setting_cb_section_c_cb_cl_img"] {
      width: 48%; margin-left: 4%;
  }
  div[id^="setting_cb_section_a_cb_cl_text"], div[id^="setting_cb_section_c_cb_cl_text"] {
      width: 48%;
  }
  
}

@media only screen and (min-width: 1200px) {
  div[id^="setting_cb_section_a_cb_cl_"], div[id^="setting_cb_section_c_cb_cl_"] {
      float: left;
  }
  div[id^="setting_cb_section_a_cb_cl_img"], div[id^="setting_cb_section_c_cb_cl_img"] {
      width: 25%; margin-left: 4%;
  }
  div[id^="setting_cb_section_a_cb_cl_text"], div[id^="setting_cb_section_c_cb_cl_text"] {
      width: 71%;
  }
  
}


.cb-list-field {      text-transform: uppercase; background: #FAFAFA; padding: 15px 20px;  border: 1px solid #ccc; overflow: hidden; position: relative; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;  }
.cb-list-field.ui-state-default { width: 94%; }
.cb-list-field:hover {  cursor: move; }
.cb-list-field:hover:before {color: #999; content: "\f142"; left: 10px; font-family: "option-tree-font"; speak: none; font-size: 14px; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; position: absolute; top: 18px; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.cb-list-field .cb-input { width: 100%; }
.cb-list-field .cb-remove { width: 30px; height: 30px; line-height: 30px; position: absolute; right: 0; top: 0; padding: 0; }
.cb-list-field .cb-remove:before { margin-right: 0; }
.cb-remove { background: #c0392b;}
.cb-remove:hover { background: #D44A3C; }
.cb-remove:before { font-family: 'fontawesome'; content: "\f00d"; margin-right: 5px; }
.cb-add-new { float: right; }
.cb-add-new:before {     font-family: 'fontawesome'; content: "\f067"; margin-right: 5px; }

.cb-uppercase { text-transform: uppercase; }

.format-settings .iris-picker { position: relative !important; }